* {
    font-size: 30px;
    padding: 10px;
}
.container {
    display: flex;
    flex-flow: column wrap;
    flex: 1 1 auto;
    justify-content: center;
    
}

.row {
    display: flex;
    gap: 10px;
    flex: 1 1 auto;
    justify-content: center;
}